
.center {
    width: 1100px;
    margin: auto;
}

/* HEADER section */

.header {
  background-color: #1092a8;
  height: 175px;
}

.app-store-header {
  background-color: #1092a8;
  height: 175px;
  margin-top: -20px;
}


#logo {
    display: block;
    margin-left: -15px;
    max-width: 300px;
}

/* MAIN section */

main {
    color: #1092a8;
    margin-bottom: 20px;
    padding-top: 20px;
}

h1, h2 {
   font-family: "Arial Black", Gadget, sans serif;
}

.container {
    padding-top: 20px;
}

.searchform {
    margin-top: 50px;
}

#searchbutton {
    margin-left: 5px;
}

/* FOOTER section */

footer {
  font-family: "Arial Black", Gadget, sans serif;
  color: #ffffff;
  width: 100%;
  position: relative;
  height: 60px;
  bottom: 0;
}

/* ABOUT page */

#myCarousel {
    width: 600px;
    height: 500px;
}

#links a{
    color: #1092a8;
    text-align: left;
}